

/* Global & Header */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#speaker, #mute{
    cursor: pointer;
}

#mute{
    display: none;
}

.show {
    opacity: 1;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 480px;
}

#main-content-wrapper{
    display: none;
}

nav img{
    height: 70px;
}

/* Modal Dialog */

#glass-modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.75);
    /*display: none;*/
}

.popup {
    background-color: #f4f7f6;
    width: 35%;
    min-width: 402px;
    margin: 0 auto;
    position: relative;
    top: 30vh;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
    z-index: 200;
    padding: 50px;
}

#birthday {
    min-width: 450px;
    animation: zoomin 1s;
}

@keyframes zoomin {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
    }

    40%, 80% {
        transform: translateY(-5px);
    }
}

#birthday p {
    text-align: center;
    margin: 0 auto;
    font-family: NeutraText-Bold;
}

#birthday img:first-of-type {
    display: block;
    height: 35px;
    width: 50px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 2px;
    animation: bounce 1.5s;
    animation-delay: 1s;
}

#confirmBtn {
    height: 40px;
    width: 50px;
    display: inline-block;
    float: right;
    position: relative;
    opacity: 1;
    margin-top: 5px;
}

#birthday img:last-of-type:hover, img:last-of-type:focus {
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.3s;
    }

#birthday p:last-of-type {
    color: red;
    font-size: 12px;
    font-family: NeutraText-Bold;
    text-align: initial;
    padding: 5px;
    display: inline-block;
    margin-top: 20px;
}

#birthday label {
    margin-top: 5px;
    display: inline-block;
    font-size: 0.9em;
    font-family: NeutraText-Bold;
    width: 32%;
    text-align: center;
}

#birthday div {
    display: inline-block;
    width: 32%;
}

#birthday select {
    display: block;
    margin: 0 auto;
    margin-top: 3px;
    border-width: 2px;
    border-radius: 5px;
    -webkit-appearance: none;
    padding: 2px 10px;
    font-family: NeutraText-Bold;
    border-color: black;
    background-color: #f4f7f6;
}

#birthday select:hover{
    border-color: grey;
    transition: border-color 0.5s;
}

#birthday select:focus{
    border-color: black;
    background-color: white;
    color: black;
}

#birthday option {
    font-family: NeutraText-Bold;
}

/* UnderAge Modal Dialog */
#underAge {
    overflow: auto;
    min-width: 408px;
    animation: nudge 0.5s;
    display: none;
}

#underAge img {
    width: 55px;
    height: 50px;}

#underAge img:first-of-type {
    float: left;
    position: relative;
    left: 10px;
}

#underAge img:last-of-type {
    float: right;
    position: relative;
    right: 10px;

}

#underAge p {
    text-align: center;
    font-family: Lobster-Regular;
    font-size: 20px;
}

#underAge p:first-of-type {
    display: inline-block;
    width: 73%;
    text-align: center;
    vertical-align: central;
    }

#underAge span {
    color: red;
    text-decoration: underline;
    }

@keyframes nudge {
    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-12px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(12px, 0, 0);
    }
}

#underAge p:last-of-type {
    margin: 0;
    padding: 5px;
    color: #b57e2f;
}

/* Eligible Modal Dialog */

#eligible {
    display: none;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: green;
    fill: none;
    animation: stroke .6s $curve forwards;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 0 auto;
    box-shadow: inset 0px 0px 0px green;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px green;
    }
}

#eligible p {
    display: inline-block;
    text-align: center;
    margin: 0;
    width: 100%;
    font-family: 'SIMPLIFICA Typeface';
    font-size: 30px;
    padding: 5px;
    font-weight: bold;
    text-decoration: solid;
}

#eligible p:last-of-type{
    font-family: NeutraText-Bold;
    font-size: 15px;
}

#eligible span{
    color: red;

}

#eligible svg {
    cursor: pointer;
}

/* SlideShow Header */

@keyframes slideFromLeft {
    from {
        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

body header:first-of-type{
    text-align: center;
}

header h1 {
    display: inline-block;
    text-align: center;
    font-family: "YanoneKaffeesatz-Bold";
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 0;
    animation: slideFromLeft 0.8s ease-out;
    text-transform: uppercase;
    font-weight: bold;
}

header img{
    width: 50px;
    margin-left: 50px;
}

/* Slide Show */

#slideshow-container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    height: calc(100vh - 145px);
}

#slideshow {
    height: 100%;
    background-image: url(../multimedia/handshake.jpeg);
    background-size: cover;
}

.overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
}

/* Split SlideShow into 2 Halves */
/*#ss-left-half {
    float: left;
    width: 50%;
    height: 100%;
    margin: 0;
}*/

#ss-right-half {
    float: right;
    width: 50%;
    height: 100%;
    margin: 0;
}

/* SlideShow Right Half*/

#ss-caption-div h1 {
    font-family: Tungsten-Bold;
    text-transform: uppercase;
    color: white;
    font-size: 100px;
    text-align: left;
    margin: 0;
    display: inline-block;
    clear: both;
    animation: btmIn 1.5s;
}

@keyframes btmIn {
    from {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

#ss-right-half p {
    color: white;
    font-family: 'SIMPLIFICA Typeface';
    font-size: 40px;
    margin: 0;
}

#cafe-text{
    color: saddlebrown;
}

#not-text{
    color: maroon;
    text-decoration: underline;
}

#average-text{
    text-decoration: line-through;
    text-decoration-color: silver;
}

#ss-left, #ss-middle, #ss-right{
    display: inline-block;
    width: 32%;
    margin-top: 50px;
}

#ss-left {
    animation: fadeIn 5s;
}

#ss-middle {
    animation: fadeIn 9s;
}

#ss-right {
    animation: fadeIn 10s;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#ss-caption-div{
    display: inline-block;
}

#ss-coffee-div{
    margin-top: 60px;
}

#ss-coffee-div img:first-of-type{
    width: 50px;
    height: 50px;
    float: right;
    animation: rightIn 2s;
}

#ss-coffee-div img:nth-of-type(2) {
    clear: both;
    float: right;
    animation: rightIn 2s;
}

@keyframes rightIn {
    from {
        transform: translate3d(200%, 0, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.slideInRight {
    animation-name: slideInRight;
}

/* Qualities Section */

#qualities-container {
    padding: 60px 0;
    /*height: 300px;*/
    background-color: #f4f7f6;
    margin: 0;
}

#qualities {
    display: table;
    table-layout: fixed;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border-spacing: 2px;
}

#qualities > div{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    opacity: 0;
}

#qualities img{
    width: 35px;
    height: 30px;
    margin-left: 5px;
}

#qualities h3{
    display: inline-block;
    font-family: "YanoneKaffeesatz-Bold";
    font-size: 30px;
    margin: 0;
}

#qualities p{
   padding: 5px;
   margin: 0;
   font-family: Coda-Regular;
}

/* Statistics */

#statistics-container {
    height: 300px;
    background: linear-gradient(#000, #2c2b2b 95%);
    padding-top: 30px;
}

#statistics {
    display: table;
    table-layout: fixed;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    border-spacing: 2px;
}

#stat-1, #stat-2, #stat-3, #stat-4{
    display: table-cell;
}

#stat-1-img, #stat-2-img, #stat-3-img, #stat-4-img{
    height: 20%;
    text-align: center;
}

#stat-1-num, #stat-2-num, #stat-3-num, #stat-4-num {
    margin: 0;
    color: #df1f26;
    text-align: center;
    font-size: 80px;
    margin-top: 5px;
    font-family: Tungsten-Light;
    font-weight: 100;
    opacity: 0;
}

#statistics p {
    color: white;
    text-align: center;
    font-family: Neutra-TF-Light;
    font-size: 30px;
}

/* Main */

main{
    background: url(../multimedia/light-bulb-bg.jpg);
    overflow: hidden;
}

main h1{
    padding: 20px 0;
    margin: 0;
    color: white;
    text-align: center;
    font-family: Exo-ExtraBold;
    font-size: 60px;
}

#available-jobs {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    border-spacing: 20px;
}

#available-jobs > div{
    display: table-cell;
    padding-bottom: 80px;
}

#available-jobs li{
    list-style-image: url(../multimedia/right-arrow.png)
}

.available-job-imgs{
    width: 80px;
    height: 80px;
}

#job-1, #job-2, #job-3 {
    margin: 0;
    padding: 20px;
    border: 5px solid white;
    text-align: center;
}

#job-1:hover, #job-2:hover, #job-3:hover{
    box-shadow: 0 0 20px #fff;
}

@keyframes popOut{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}

@keyframes popIn{
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}


#available-jobs h2 {
    display: inline-block;
    margin: 0;
    font-family: Brandon-Grotesque-Black-Italic;
    color: #b37508;
    font-size: 60px;
    text-align: center;
    padding-right: 30px;
}

#available-jobs li{
    margin: 0;
    width: 75%;
    text-align: left;
    margin: 0;
    font-family: Coda-Regular;
    color: white;
    margin-left: 20px;
    margin-top: 30px;
}

.button-theme-1 {
    border: 2.5px solid #fff;
    border-radius: 7px;
    background: none;
    color: white;
    margin-top: 45px;
    cursor: pointer;
    display: inline-block;
}

.span-theme-1 {
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
    font-family: "NeutraText-Bold";
    text-transform: uppercase;
}

.button-theme-1:hover {
    border-color: #8deff0;
    box-shadow: 0 0 1px 5px #33a1be;
    background-color: white;
    color: #df1f26;
}

/* Modal Dialogs for Apply-Jobs */

.full-screen-modal {
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: #f4f7f6;
    visibility: hidden;
    overflow: scroll;
    opacity: 0;
    transition: all 0.8s;
    min-width: 920px;
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.closeBtn {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 30px;
    margin-right: 35px;
    cursor: pointer;
    position: fixed;
    left: 92vw;
}

.closeBtn:hover{
    transform: scale(1.2);
}

#apply-job-container header h2 {
    display: inline-block;
    margin: 0;
    font-family: Brandon-Grotesque-Black-Italic;
    color: black;
    font-size: 60px;
    text-align: center;
    padding-right: 30px;
}

#apply-job-container header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

/* Table in Apply-Job */

video{
    width: 750px;
    height: 500px;
}

.job-specifications-table{
    padding: 20px;
    width: 100%;
}

.video-btm video{
    display: none;
    margin-left: 20vw;
    margin-bottom: 50px;
}

.job-specifications-table th, td{
    padding: 20px;
}

.job-specification-caption {
    font-family: Tungsten-Bold;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 30px;
}

.job-specifications-table th {
    font-family: YanoneKaffeesatz-Bold;
    font-size: 30px;
}

.job-specifications-table td{
    font-family: Coda-Regular;
}

.job-specifications-table tr:nth-child(odd){
    background-color: #DDDDDD;
}

.job-specifications-table tr:first-of-type td:last-of-type {
    padding: 0;
}

.job-specifications-table li {
    list-style-image: url(../multimedia/right-arrow-black.png)
}

/* Job Applicant Form */
.form-header h2 {
    font-family: Exo-ExtraBold;
    text-align: center;
    font-size: 50px;
    color: #df1f26;
    display: inline-block;
    margin-bottom: 35px;
}

.job-applicant-form {
    display: table;
    table-layout: fixed;
    width: 95%;
    text-align: center;
    margin: 0 auto;
}

*::-webkit-input-placeholder{
    color: #605c5c
}

.job-applicant-form input, textarea, .job-applicant-form select {
    display: inline-block;
    font-family: Coda-Regular;
    font-size: 15px;
    background-color: rgb(209, 211, 213);
    border: 1px solid black;
    padding-left: 5px;
    margin: 0 20px;
    margin-bottom: 20px;
}


.form-top-bottom-level input, .form-top-bottom-level select {
    display: table-cell;
    width: 28%;
    height: 30px;
    text-align: center;
}

.job-applicant-form input:focus, textarea:focus {
    color: white;
    background: black;
}

.form-middle-level textarea{
    resize: none;
    overflow: hidden;
    width: 43.7%;
    display: table-cell;
    text-align: center;
}

.apply-form-image{
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.form-header{
    margin-top: 10px;
    text-align: center;
}

.form-submit img{
    margin-left: -35px;
    padding-top: 15px;
}

.form-button{
    border-color: black;
    color: black;
    margin-bottom: 50px;
}

@keyframes aeroplaneAnimation {
    0% {
        transform: rotate(0);
    }
    20%{
        transform: translateX(0);
        transform: rotate(45deg);
    }
    100% {
        transform: translateX(50vw);
    }
}

.aeroFly{
    animation: aeroplaneAnimation 2s;
}

.form-upload input[type=file]{
    display: none;
}

.form-upload img{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    margin-top: 15px;
}

.form-upload span{
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: black;
    margin: 0 10px;
}


/* Meet the Boss */
#meet-the-boss {
    margin: 0;
    height: 400px;
    background: url(../multimedia/cto-bg.jpeg);
    text-align: center;
    margin-top: -38px;
}

#meet-the-boss h1{
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    font-family: Proxima-Nova-Regular;
}

#cto-img {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    background: url(../multimedia/cto-picture.jpg);
    background-size: cover;
    margin: 0 auto;
}

#cto-img div{
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s;
}

#cto-img div:hover{
    opacity: 1;
    cursor: pointer;
}

#cto-img p{
    color: white;
    text-align: center;
}

#cto-img p:first-of-type{
    padding-top: 100px;
    font-family: Tungsten-Light;
    font-weight: bold;
    font-size: 40px;
}

#cto-img p:last-of-type{
    font-family: SIMPLIFICA Typeface;
    font-size: 20px;
    color: silver;
    font-weight: bold;
}

/* CTO Information */

#cto-information{
    background-color: #f4f4f4;
    opacity: 1;
    overflow: hidden;
    min-width: 1200px;
}

@keyframes slideFromRight {
    from {
        transform: translate3d(100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

#close2{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 100;
    opacity: 0;
}

.cto-info{
    display: inline-block;
    height: 100%;
}

#cto-info-left{
    width: 40%;
}

#cto-info-right{
    float: right;
    width: 50%;
}

#cto-swaggy-picture{
    width: 75%;
    height: 100vh;
    border-radius: 15%;
}

@keyframes cto-zoom-in{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.25);
    }
}

.cto-slide-right{
    animation: slideFromRight 1s;
}

.cto-zoom-in{
    animation: cto-zoom-in 40s;
}

#cto-information h1 {
    padding-top: 60px;
    font-family: Proxima-Nova-Regular;
    color: black;
    text-align: left;
    font-size: 50px;
    margin-bottom: 0;
}

#cto-information h2 {
    font-family: Tungsten-Bold;
    color: #645c5c;
    font-size: 25px;
    text-align: left;
    clear: both;
}

#cto-information hr{
    border: none;
    border-top: 1.5px solid black;
    width: 20%;
    float: left;
}

#cto-information p{
    padding-top: 15px;
    text-align: left;
    line-height: 2em;
    clear: both;
    font-family: Coda-Regular;

}

/* Footer */
footer{
    padding: 10px 0;
    background-color: black;
}

footer p{
    margin: 0;
    text-align: center;
    color: white;
    font-family: SIMPLIFICA Typeface;
    font-size: 25px;
    font-weight: bold;
}

/* Media Queries */

@media screen and (max-width: 1125px) {

    #ss-right-half {
        width: 100%;
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    #ss-right-half h1{
        font-size: 110px;
    }

    #ss-right-half img{
        width: 100px;
        height: 100px;
    }
    #qualities {
        padding: 0;
    }

    #available-jobs > div{
        display: table-row;
    }
    #qualities > div{
        display: block;
    }
    #qualities div:first-of-type, #qualities div:nth-child(2){
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 650px){
    #main-content-wrapper header h1{
        font-size: 50px;
    }

    #mute, #speaker{
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }

    #ss-right-half h1 {
        font-size: 70px;
    }

    #ss-right-half img {
        width: 80px;
        height: 80px;
    }

}

@media screen and (max-width: 1300px){
    .job-specifications-table video{
        display: none;
    }
    .video-btm video{
        display: initial;
    }

}

@media screen and (max-width: 920px){
    .job-specifications-table video {
        display: none;
    }

    .video-btm video {
        display: initial;
        margin-left: 100px;
    }
}