/* Custom (Downloaded) Fonts */

@font-face {
    font-family: 'Lobster-Regular';
    src: url(../fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: 'SIMPLIFICA Typeface';
    src: url(../fonts/SIMPLIFICA-Typeface.ttf);
}

@font-face {
    font-family: "YanoneKaffeesatz-Bold";
    src: url(../fonts/YanoneKaffeesatz-Bold.ttf);
}

@font-face {
    font-family: "Coda-Regular";
    src: url(../fonts/Coda-Regular.ttf);
}


@font-face {
    font-family: "Tungsten-Light";
    src: url(../fonts/Tungsten-Light.ttf);
}

@font-face {
    font-family: "Neutra-TF-Light";
    src: url(../fonts/Tungsten-Light.ttf);
}

@font-face {
    font-family: "NeutraText-Bold";
    src: url(../fonts/NeutraText-Bold.otf);
}

@font-face {
    font-family: "Tungsten-Bold";
    src: url(../fonts/Tungsten-Bold.ttf);
}

@font-face {
    font-family: "Exo-ExtraBold";
    src: url(../fonts/Exo-ExtraBold.otf);
}

@font-face {
    font-family: "Brandon-Grotesque-Black-Italic";
    src: url(../fonts/Brandon-Grotesque-Black-Italic.ttf);
}

@font-face {
    font-family: "Gotham-Bold-Regular";
    src: url(../fonts/Gotham-Bold-Regular.ttf);
}

@font-face {
    font-family: "Proxima-Nova-Regular";
    src: url(../fonts/Proxima-Nova-Regular.ttf);
}

@font-face {
    font-family: "Nunito-Regular";
    src: url(../fonts/Nunito-Regular.ttf);
}