
body {
    box-sizing: border-box;
    background: url("../images/4.jpg");
    color: black;
    font: bold 24px Simplifica;
    overflow: scroll;
}

.b{
    display: block;
}
.container{
    padding-left: 30px;
}
input{
    width: 200px;
}
.c{
    font-family: Simplifica;
    font-size: 12px;
}
.sgnupbtn {
    background-color: peru;
    border: none;
    color: rgba(0,0,255,0.6);
}
    .sgnupbtn:hover {
        background-color: peru;
        color: rgba(0,0,255,1);
        border: none;
    }
section {
    margin: auto;
    background: #202020;
    width: 85%;
    color: black;
    font: bold 24px Simplifica;
    overflow: auto;
}

form {
    background-color: peru;
    float: right;
    display: block;
    width: 590px;
    height: 630px;
    margin-right: 7%;
    opacity: 1;
}

.iimg{
    float:left;
    margin-left: 7%;
    height: 660px;
}
.background{
    background-color: antiquewhite;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    float:right;
    display:block;
    margin-right: 7%;
    margin-top:-2px;
    height: 660px;
        
}

table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: darkgoldenrod;
}