body {
    background: url("/images/index_bg2.jpg");
    background-attachment: fixed;
    text-align: center;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    text-align:left;
}

#animate {
    background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/113522-200.png);
    position: absolute;
    width: 200px;
    height: 150px;
}

#container {
    width: 435px;
    height: 65px;
    position: relative;
    display:inline;
    font-size:12px;
}

fieldset label {
    display: inline-block;
    width: 100px;
}

fieldset div{
    margin-top:10px;
}

    