@font-face {
    font-family: 'Simplifica';
    src: url("Darren/css/SIMPLIFICA Typeface.ttf") format('truetype');
}

@font-face {
    font-family: YanoneKaffeesatz-Bold;
    src: url(JingJie/fonts/YanoneKaffeesatz-Bold.ttf);
}

body {
    margin: 0;
}

nav {
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    margin: 0 auto;
    overflow: auto;
    width: 100%;
    box-shadow: 0 1.5px 5px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 100;
    overflow: hidden;
}

nav a {
    display: inline-table;
    padding: 18px 30px;
    font: bold 14px Arial;
    color: silver;
    font-family: YanoneKaffeesatz-Bold;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 3px solid transparent;
    opacity: 0;
    margin: 0 10px;

}

.buttons {
    opacity:1;
}

nav a:hover{
    opacity: 1;
    color: white;
    border-top: 3px solid #b4953f;
    transition: border-top ease-out 0.3s;
}

nav img{
    display: inline-block;
    width: 60px;
    vertical-align: middle;
    padding: 0 10px;
    text-align: center;
    position: relative;
    margin-right: 50px;
    padding: 5px 0;
}

nav img:hover{
    cursor: pointer;
    transform: scale(0.9);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.95);
    overflow-x: hidden;
    z-index: 9999;
    text-align:left;
    transition:0.5s;
}

.sidenav a {
    display: block;
    padding: 20px;
    font: 36px Simplifica;
    width:100%;
    text-decoration:none;
    color:#4d4d4d;
}

.sidenav a:hover{
    display: block;
    background-color:black;
    color:darkgoldenrod;
    padding: 20px;
    font: 36px Simplifica;
}

#menubutton{
    width:28px;
    height:28px;
    visibility:hidden;
}


@keyframes easeIn {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

.transform{
    animation: easeIn 0.5s;
}

@media only screen and (max-width: 1145px){
    nav{
        width:100vw;
        height:60px;
    }

    nav a{
        font-size:10px;
        width:0;
        padding:0;
        opacity:1;
        visibility:hidden;
    }

    .buttons:hover, .buttons{
        opacity:0;
    }

    nav img{
        position:center;
    }

    #menubutton{
        visibility:visible;
    }
}

