@font-face {
    font-family: 'Simplifica';
    src: url("SIMPLIFICA Typeface.ttf") format('truetype');
}

body {
    background: url("../images/index_bg.jpeg");
    margin-top: 0;
    z-index:-2;
    background-size:cover;
    min-width:650px;
}

#main {
    margin: auto;
    background: white ;
    width: 80%;
    color: darkgoldenrod;
    font: bold 20px Simplifica;
    overflow: auto;
}

#contactinfo{
    padding-left: 3vw;
    float: left;
}

a{
    font-style:normal;
    text-decoration:none;
    color: black;
}

a:hover{
    color:darkgoldenrod;
}

#map {
    width: 100%;
    height: 40vh;
    background-color: grey;
    
}

#ophours{
    padding-top:2%;
    float:right;
    
}

tr td {
    padding: 5px;
}

td {
    width: 13vw;
    color: darkgoldenrod;
}

table {
    width:40vw; 
    border-collapse: collapse;
    text-align:center;
}

div#ophours u{
    text-align:center;
}

.grow {
    height: 2px;
    background-color: black;
    animation: 3s linegrow;
    width: 13vw;
}

.grow2 {
    height: 2px;
    background-color: black;
    animation: 3s linegrow2;
    width: 7vw;
}

.grow3 {
    height: 2px;
    background-color: black;
    animation: 3s linegrow3;
    width: 6vw;
}

#time {
    padding-right: 30px;
    padding-bottom: 10px;
    clear: both;
    float: right;
    font-size: 50px;
    color: darkgoldenrod;
}

#clock{
    clear:both;
    float:right;
    padding-right:30px;
    font-size:30px;
}

@keyframes linegrow {
    0% {
        width:0px;
    }

    100% {
        width:13vw;
    }
}

@keyframes linegrow2 {
    0% {
        width: 0px;
    }

    100% {
        width: 7vw;
    }
}

@keyframes linegrow3 {
    0% {
        width: 0px;
    }

    100% {
        width: 6vw;
    }
}
