@font-face {
    font-family: 'Simplifica';
    src: url("SIMPLIFICA Typeface.ttf") format('truetype');
}

body {
    background: url("../images/index_bg2.jpg");
    margin-top: 0;
    z-index:-2;
    background-size:cover;
    
}

#main {
    margin: auto;
    background: #202020;
    width: 80%;
    color: darkgoldenrod;
    font: bold 20px Simplifica;
    overflow: auto;
}

#contactinfo{
    padding:50px 50px 0px 50px;
    float: left;
}

a{
    font-style:normal;
    text-decoration:none;
    color: white;
}

a:hover{
    color:darkgoldenrod;
}

#map {
    width: 100%;
    height: 250px;
    background-color: grey;
    
}

#ophours{
    
    padding: 50px 70px 10px 100px;
    float:right;
}

tr td {
    padding: 5px;
}

td {
    width: 200px;
    color: darkgoldenrod;
}

table {
    border-collapse: collapse;
    text-align:center;
}

div#ophours u{
    padding-left:280px;
}

.grow {
    height: 2px;
    background-color: white;
    animation: 3s linegrow;
    width: 200px;
}

.grow2 {
    height: 2px;
    background-color: white;
    animation: 3s linegrow2;
    width: 100px;
}

.grow3 {
    height: 2px;
    background-color: white;
    animation: 3s linegrow3;
    width: 70px;
}

#time {
    padding-right: 30px;
    padding-bottom: 10px;
    clear: both;
    float: right;
    font-size: 50px;
    color: darkgoldenrod;
}

#clock{
    clear:both;
    float:right;
    padding-right:30px;
    font-size:30px;
}

@keyframes linegrow {
    0% {
        width:0px;
    }

    100% {
        width:200px;
    }
}

@keyframes linegrow2 {
    0% {
        width: 0px;
    }

    100% {
        width: 91px;
    }
}

@keyframes linegrow3 {
    0% {
        width: 0px;
    }

    100% {
        width: 73px;
    }
}
