@font-face {
    font-family: 'Simplifica';
    src: url("SIMPLIFICA Typeface.ttf") format('truetype');
}

body {
    background: url("../images/index_bg.jpeg");
    margin-top: 0;
    z-index:-2;
    background-size:cover;
    min-width:650px;
}

#main {
    margin: auto;
    background: white ;
    width: 80%;
    color: black;
    font: bold 20px Simplifica;
    overflow: auto;
}

#contactinfo{
    padding-left: 3vw;
    float: left;
}

a{
    font-style:normal;
    text-decoration:none;
    color: #4d4d4d;
}

a:hover{
    color:darkgrey;
}

#map {
    width: 100%;
    height: 40vh;
    background-color: grey;
    
}

#ophours{
    padding-top:2%;
    float:right;
    
}

tr td {
    padding: 5px;
}

td {
    width: 13vw;
    color: black;
}

table {
    width:40vw; 
    border-collapse: collapse;
    text-align:center;
}

div#ophours u{
    text-align:center;
}

.grow {
    height: 2px;
    background-color: darkgoldenrod;
    animation: 3s linegrow;
    width: 13vw;
}

.grow2 {
    height: 2px;
    background-color: darkgoldenrod;
    animation: 3s linegrow2;
    width: 7vw;
}

.grow3 {
    height: 2px;
    background-color: darkgoldenrod;
    animation: 3s linegrow3;
    width: 6vw;
}

#time {
    padding-right: 30px;
    padding-bottom: 10px;
    clear: both;
    float: right;
    font-size: 50px;
    color: darkgoldenrod;
}

#clock{
    clear:both;
    float:right;
    padding-right:30px;
    font-size:30px;
}

#feedbackbutton{
    padding:10px;
    clear:both;
    float:left;
}

#overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 10vh;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#form {
    padding:0px 30px 70px 30px;
    font: 20px Simplifica;
    background-color: #eeeeee;
    margin:auto;
    width: 550px;
    height: 40%;
    z-index: 1001;
    border-radius: 30px;
    border: 3px solid darkgoldenrod;
}

#cross{
    position:relative;
    top: 3%;
    left: 97%;
    z-index:1002;
}

#cross:hover{
    cursor:pointer;
}

button{
    float:right;
    padding:5px;
}

#form header{
    font-size:36px;
    text-align:center;
}

#others{
    display:none;
}

label{
    display: block;
    width:300px;
    float:left;
}

@keyframes linegrow {
    0% {
        width:0px;
    }

    100% {
        width:13vw;
    }
}

@keyframes linegrow2 {
    0% {
        width: 0px;
    }

    100% {
        width: 7vw;
    }
}

@keyframes linegrow3 {
    0% {
        width: 0px;
    }

    100% {
        width: 6vw;
    }
}

