

nav {
    text-align: center;
    background-color: black;
    width: 100%;
    border: 1px solid transparent;
    margin: 0 auto;
}

nav a {
    display: inline-table;
    padding: 18px 30px;
    font: bold 12px Arial;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 2px solid transparent;
    background-color: transparent;
    opacity: 0.5;
}

nav a:hover {
    border-top: 2px solid #b4953f;
    opacity: 1;
    color: #b4953f;
    transition: border-top 0.3s linear;
}

nav a:nth-child(5):hover{
    color: #fff;
    border-top: 2px solid #b4953f;
    border-width: 3.5px;
    transition: border-top linear 0.2s;
}
