@font-face {
    font-family: 'SIMPLIFICA';
    src: url('SIMPLIFICA Typeface.ttf') format('truetype');

}body {
    background: white;
    background-attachment: fixed;
    text-align: center;
    background-size: cover;
    overflow:hidden;
}

#slideshow {
    background: url("../images/slideshow1.jpg");
    background-attachment: fixed;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    height:100vh;
    transition:1s ease;
}

#resize {
    height: 100vh;
    width: 100%;
}

#imageText{
    position:absolute;
    padding:20px;
    top:40%;
    left:60%;
    font:bold 124px Simplifica;
    color:white;
}

#menu {
    position: absolute;
    padding: 20px;
    top: 60vh;
    left: 55vw;
    width: 13vw;
    height: 4vh;
    font: bold 30px Simplifica;
    color: black;
    border: 1px solid black;
    background: white;
    opacity: 0.8;
}

#learnmore {
    position: absolute;
    padding: 20px;
    width:8vw;
    height:4vh;
    top: 60vh;
    left: 75vw;
    font: bold 30px Simplifica;
    color: black;
    border: 1px solid black;
    background: white;
    opacity: 0.8;
}

#menu:hover, #learnmore:hover{
    border:1px solid darkgoldenrod;
    color:darkgoldenrod;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.5;
    z-index: -1;
}

@media only screen and (max-width: 1500px){
    #menu, #learnmore{
        height:2vh;
        font-size: 24px;
    }
    #imageText{
        font-size:94px;
    }
}

@media only screen and (max-width: 1000px) {
    #menu, #learnmore {
        height:1vh;
        font-size: 16px;
    }
    #imageText {
        font-size: 80px;
    }
}

#circle1, #circle2, #circle3, #circle4{
    position:absolute;
    width:20px;
    height:20px;
    background-color:grey;
    z-index:1000;
    border-radius:50%;
}

#circle1:hover, #circle2:hover, #circle3:hover, #circle4:hover {
    cursor:pointer;
}

#circle1{
    top:95%;
    left:47%;
}

#circle2 {
    top: 95%;
    left: 49%;
}

#circle3 {
    top: 95%;
    left: 51%;
}

#circle4 {
    top: 95%;
    left: 53%;
}