@font-face {
    font-family: 'SIMPLIFICA';
    src: url('SIMPLIFICA Typeface.ttf') format('truetype');
}

body
{
    font:24px Simplifica;
    overflow-x:hidden;
    z-index:2;
}

#main{
    position:absolute;
    padding-left: 10%;
    width:90%;
}

.title {
    width: 35%;
    float: left;
    padding-top: 10vh;
}

.ttl_menu {
    font: bold 118px Simplifica;
    text-decoration: underline;
}

.description{
    font-size:24px;
    width:500px;
    
}

#cover {
    padding-top:5px;
    float:right;
    width: 50vw;
    height: 92vh;
}


#breakfast {
    position: absolute;
    top: 130vh;
    width:80%;
}

#dinner{
    width:80%;
    position:absolute;
    top:360vh;
}

#dessert {
    position: absolute;
    top: 590vh;
    width: 80%;
}

#drinks {
    position: absolute;
    top: 800vh;
    width: 80%;
}


#coffee2 {
    position: absolute;
    top: 950vh;
    right: 10%;
    z-index: -20;
}

#cocktail{
    position:absolute;
    top:870vh;
    width:30vw;
    left:0%;
    z-index:-20;
}

#sausages {
    position: absolute;
    top: 270vh;
    z-index: -2;
    width:60vw;
    right:-10vw;
}

#waffles{
    position:absolute;
    top:700vh;
    z-index:-20;
    width:34vw;
    
    right:-10%;
}

#steak{
    position:absolute;
    z-index:-20;
    top:530vh;
    right:-10%;
    width:50vw;
}

#porkribs{
    position:absolute;
    z-index:-20;
    top:450vh;
    left:-20vw;
    width:60vw;
}

.name{
    width:75%;
    float:left;
}

.price{
    width:15%;
    float:right;
    text-align:right;
}

.fooddesc{
    width:50%;
    font-size:20px;
    color:#bbb;
    clear:both;
    float:left;
}

.menuitems {
    width: 70%;
}

#breakfast .ttl_menu{
    width:20%;
    float:left;
}

#breakfast .description{
    float:left;
}

#breakfast img {
    position: relative;
    float: right;
    width: 50%;
    height: 30%;
    z-index:-20;
}

#dinner .ttl_menu{
    text-align:right;
    float:right;
}
#dinner .description{
    float:right;
    text-align:right;
}

#dinner img{
    position:relative;
    float:left;
    width:45vw;
    z-index:-20;
}

#dinner .menuitems{
    float:right;
}

#dessert .ttl_menu{
    float:left;
}

#dessert .description{
    clear:both;
    float:left;
}

#dessert img {
    clear: both;
    width: 70vw;
    position: relative;
    z-index:-20;
}

#drinks .ttl_menu {
    text-align: right;
    float: right;
}

#drinks .description {
    float: right;
    text-align: right;
    width:50%;
}

#drinks img {
    float: left;
    width: 30vw;
    height: 20%;
    position: relative;
    z-index:-20;
}

#drinks .menuitems {
    float: right;
}